# Examples : 
# Ignore everything in examples by default
examples/**
# Whitelist
!examples/*/
!examples/README.md
!examples/**/input.in.template
!examples/**/initial_config.xyz
!examples/**/Ni_v6_2.0_LKBeland2016.eam
!examples/**/Cu01.eam.alloy
!examples/**/FeC-Becquart2013.eam
!examples/**/Si.sw


# Utils : 
utils/analyse/*.xyz

# Benchmarks 
benchmarks/** 
!benchmarks/**/*.py

*__pycache__/
*.pyc
*=5
*initial_config_minimization.lmp
*test*
!tests/
!tests/**/*
__pycache__/
*.py[cod]
*core
*pykmc.egg-info/*
*PKG-INFO 
*SOURCES.txt 
*requires.txt
*__pycache__
